﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<h2>ĐĂNG NHẬP</h2>
<%= form_for :signin, method: "POST" do |f| %>
<p>
 <%= f.label :name, "Name"%><br/>
 <%= f.text_field :name %>
</p>

<p>
 <%= f.label :password, "Password" %><br/>
 <%= f.password_field :password %>
</p>

<%= f.submit "Đăng nhập" %>
<% end %>
