﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<%= form_for (@user) do |f| %>
<p>
<%= f.label :name, "Username" %><br>
<%= f.text_field :name %>
</p>

<p>
<%= f.label :email, "email" %><br>
<%= f.text_field :email %>
</p>

<p>
<%= f.label :password, "password" %><br>
<%= f.password_field :password %>
</p>

<p>
<%= f.label :password_confirmation, "password confirmation" %><br>
<%= f.password_field :password_confirmation %>
</p>

<% if @user.new_record? %>
 <%= f.submit "Đăng ký" %>
<% else %>
 <%= f.submit "cập nhật thông tin" %>
 <%end %>
<% end %>