﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<%=link_to "sửa thông tin", edit_user_path(@user) %>
<%=link_to "xóa người dùng", user_path(@user), method: :delete, data: { confirm: "Bạn có chắc muốn xóa người dùng này không?"}%>