﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<%=form_for(@chit) do |f| %>
<table>
 <tr>
  <td><%=f.label:serial, "Số phiếu" %></td>
  <td><%=f.number_field:serial %></td>
 </tr>
 <tr>
  <td><%=f.label:name, "Tên người tạo phiếu" %></td>
  <td><%=f.text_field:name %></td>
 </tr>
 <tr>
  <td><%=f.label:address, "Địa chỉ" %></td>
  <td><%=f.text_field:address %></td>
 </tr>
 <tr>
  <td><%=f.label:reason, "Lý do chi" %></td>
  <td><%=f.text_field:reason %></td>
 </tr>
 <tr>
  <td><%=f.label:payment, "Số tiền" %></td>
  <td><%=f.number_field:payment %></td>
 </tr>
 <tr>
  <td><%=f.label:ability, "Nguồn kinh phí" %></td>
  <td><%=f.text_field:ability %></td>
 </tr>
 <tr>
  <td><%=f.label:dean, "Chủ nhiệm khoa" %></td>
  <td><%=f.text_field:dean %></td>
 </tr>
 <tr>
  <td><%=f.label:payer, "Người nhận tiền" %></td>
  <td><%=f.text_field:payer %></td>
 </tr>
 <tr>
  <td><%=f.label:cashier, "Thủ quỹ" %></td>
  <td><%=f.text_field:cashier %></td>
 </tr>
</table>
 <% if @chit.new_record? %>
 <%=f.submit "Tạo phiếu" %>
 <% else %>
  <%=f.submit "Cập nhật phiếu chi" %>
<% end %>
<% end %>