<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<h2><%=link_to 'Quay lại trang chủ ', :action=>'start' %></h2>
<h2>Danh sách phiếu chi</h2>

<html>
<body>
<table width="1000px" border=1>
	<tr>
		<td><strong>SỐ PHIẾU</strong></td>
		<td><strong>NGÀY CHI</strong></td>
		<td><strong>NGƯỜI NHẬN TIỀN</strong></td>
		<td><strong>ĐỊA CHỈ</strong></td>
		<td><strong>LÍ DO CHI</strong></td>
		<td><strong>SỐ TIỀN</strong></td>
		<td><strong>NGUỒN KINH PHÍ</strong></td>
		<td><strong>GHI CHÚ</strong></td>
	</tr>
	<% @chits.each do |chit| %>
	<tr>
		<td><li><%=link_to chit.serial, chit %></li></td>
		<td></td>
		<td><li><%=link_to chit.name, chit %></li></td>
		<td><%= chit.address %></td>
		<td><%= chit.reason %></td>
		<td><%= chit.payment %></td>
		<td><%= chit.ability %></td>
		<td></td>
	</tr>
    <% end %>
</table>

<%  total = 0
    @chits.each do |chit|
	   if chit.payment != nil
	   payment = chit.payment
	   total += payment
	   else
	   
	   end
	end
%>
	 
<h1> Tổng chi: <%= total %></h1>
<body>
</html>
