﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<table width=600>
  <tr>
    <td><h2><%=link_to 'Quay lại trang chủ', :action=>'start'%>    </h2></td> 
	<td><h2><%=link_to "Phiếu chi mới",new_chit_path(@chit)%>      </h2></td>
	<td><h2><%=link_to 'Danh sách phiếu chi', :action=>'index'%>   </h2></td>    
  </tr>  
</table>
<% title(@chit.serial, "Chits") %>
<table  width=800>
	<tr>
	<td colspan = 10 align=center></td>
	</tr>
	
	<tr>
	<td colspan = 6 align=left><strong>Đơn vị : Khoa Công nghệ thông tin</strong></td>
	<td colspan = 4 align=center><strong>Mẫu số 01 - TT</strong></td>
	</tr>
	
	<tr>
	<td colspan = 6 align=left><strong>Địa chỉ : P.311, E3, 144 Xuân Thủy, Cầu Giấy, Hà Nội</strong></td>
	<td colspan = 4 align=center>(Ban hành theo QĐ số 15/2006/QĐ-BTC</td>
	</tr>
	
	<tr>
	<td colspan = 6 align=left></td>
	<td colspan = 4 align=center>Ngày 20/03/2006 của Bộ trưởng BTC</td>
	</tr>
	
	<tr>
	<td colspan = 6 align=left></td>
	<td colspan = 4 align=center><strong>Số phiếu : <%=@chit.serial %>/2014</strong></td>
	</tr>
	
	<tr><td></td></tr>
	
	<tr>
	<td colspan = 10 align=center><strong>PHIẾU CHI</strong></td>
	</tr>
	
	<tr><td></td></tr>
	<tr><td></td></tr>
	
	<tr>
	<td colspan = 10 align=left >Họ và tên người nhận tiền: <%=@chit.payer %></td>
	</tr>
	
	<tr>
	<td colspan = 10 align=left >Địa chỉ: <%=@chit.address %> </td>
	</tr>
	
	<tr>
	<td colspan = 10 align=left >Lý do nộp: <%=@chit.reason %></td>
	</tr>
	
	<tr>
	<td colspan = 10 align=left >Số tiền: <%=@chit.payment %></td>
	</tr>
	
	<tr>
	<td colspan = 10 align=left >Viết bằng chữ: </td>
	</tr>
	
	<tr>
	<td colspan = 10 align=left ><strong>Nguồn kinh phí: <%=@chit.ability %></strong></td>
	</tr>
	
	<tr>
	<td colspan = 10 align=left >Ghi chú: </td>
	</tr>
	
	<tr>
	<td colspan = 10 align=right ><em>Ngày...Tháng 12 Năm 2014</em></td>
	</tr>
	
	<tr><td></td></tr>
	
	<tr>
	<td colspan=3 align=center><strong>Chủ nhiệm khoa</strong></td>
	<td colspan=2 align=center><strong>Thủ quỹ</strong></td>
	<td colspan=2 align=center><strong>Người lập phiếu</strong></td>
	<td colspan=3 align=center><strong>Người nhận tiền</strong></td>
	</tr>
	
	<tr>
	<td colspan=3 align=center><em>(Ký, họ tên)</em></td>
	<td colspan=2 align=center><em>(Ký, họ tên)</em></td>
	<td colspan=2 align=center><em>(Ký, họ tên)</em></td>
	<td colspan=3 align=center><em>(Ký, họ tên)</em></td>
	</tr>
	
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	
	<tr>
	<td colspan=3 align=center><%=@chit.dean %></td>
	<td colspan=2 align=center><%=@chit.cashier %></td>
	<td colspan=2 align=center><%=@chit.name %></td>
	<td colspan=3 align=center><%=@chit.payer %></td>
	</tr>
</table>
<table width=600>
  <tr>
	<td><h2><%=link_to "Sửa phiếu chi",edit_chit_path(@chit)%>      </h2></td>
	<td><h2><%=link_to "Xóa phiếu chi", chit_path(@chit), method: :delete, data: { confirm: "Bạn có chắc muốn xóa phiếu chi này?"}%>   </h2></td>
	<td><h2><%=link_to "Thanh toán",{:sophieu=>@chit.serial, :controller=>"bills",:action=>"new"}%>    </h2></td>      
  </tr>  
</table>     
 


