﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<table width=1000>
<tr>
<td><h2> <%=link_to "Phiếu chi mới",new_chit_path %>    </h2></td>
<td><h2> <%=link_to "Danh sách phiếu chi",chits_path %> </h2></td>
<td><h2> <%=link_to "Phiếu thu mới",new_bill_path %>    </h2></td>
<td><h2> <%=link_to "Danh sách phiếu thu",bills_path %> </h2></td>
</tr>
</table>
