﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<h2><%=link_to 'Quay lại trang chủ ',{:action=>'start', :controller=>'chits'  }%></h2>
<h2>Danh sách phiếu thu</h2>

<html>
<body>

<table width="1000px" border=1>
	<tr>
		<td><strong>SỐ PHIẾU</strong></td>
		<td><strong>NGÀY THU</strong></td>
		<td><strong>NGƯỜI NHẬN TIỀN</strong></td>
		<td><strong>ĐỊA CHỈ</strong></td>
		<td><strong>LÍ DO THU</strong></td>
		<td><strong>SỐ TIỀN</strong></td>
		<td><strong>NGUỒN KINH PHÍ</strong></td>
		<td><strong>GHI CHÚ</strong></td>
	</tr>
	<% @bills.each do |bill| %>
	<tr>
		<td><li><%=link_to bill.serial, bill %></li></td>
		<td></td>
		<td><li><%=link_to bill.name, bill %></li></td>
		<td><%= bill.address %></td>
		<td><%= bill.reason %></td>
		<td><%= bill.payment %></td>
		<td><%= bill.ability %></td>
		<td></td>
	</tr>
    <% end %>
</table>

<%  total = 0
    @bills.each do |bill|
	   if bill.payment != nil
	   payment = bill.payment
	   total += payment
	   else
	   
	   end
	end
%>
	 
<h1> Tổng thu: <%= total %></h1>
<body>
</html>