<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<h2><%=link_to 'Quay lại trang chủ ',{:action=>'start', :controller=>'chits'  }%></h2>
<h2>Phiếu thu mới</h2>
<%= render "form" %>
