﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<table width=600>
  <tr>
    <td><h2><%=link_to 'Quay lại trang chủ', {:action=>'start', :controller=>'chits'}%>    </h2></td> 
	<td><h2><%=link_to "Phiếu thu mới",new_bill_path %>      </h2></td>
	<td><h2><%=link_to 'Danh sách phiếu thu', :action=>'index'%>   </h2></td>    
  </tr>  
</table>

<% title(@bill.serial, "Bills") %>
<table  width=800>
	<tr>
	<td colspan = 10 align=center></td>
	</tr>
	
	<tr>
	<td colspan = 6 align=left><strong>Đơn vị : Khoa Công nghệ thông tin</strong></td>
	<td colspan = 4 align=center><strong>Mẫu số 01 - TT</strong></td>
	</tr>
	
	<tr>
	<td colspan = 6 align=left><strong>Địa chỉ : P.311, E3, 144 Xuân Thủy, Cầu Giấy, Hà Nội</strong></td>
	<td colspan = 4 align=center>(Ban hành theo QĐ số 15/2006/QĐ-BTC</td>
	</tr>
	
	<tr>
	<td colspan = 6 align=left></td>
	<td colspan = 4 align=center>Ngày 20/03/2006 của Bộ trưởng BTC</td>
	</tr>
	
	<tr>
	<td colspan = 6 align=left></td>
	<td colspan = 4 align=center><strong>Số phiếu : <%=@bill.serial %>/2014</strong></td>
	</tr>
	
	<tr><td></td></tr>
	
	<tr>
	<td colspan = 10 align=center><strong>PHIẾU THU</strong></td>
	</tr>
	
	<tr><td></td></tr>
	<tr><td></td></tr>
	
	<tr>
	<td colspan = 10 align=left >Họ và tên người nộp tiền: <%=@bill.payer %></td>
	</tr>
	
	<tr>
	<td colspan = 10 align=left >Địa chỉ: <%=@bill.address %> </td>
	</tr>
	
	<tr>
	<td colspan = 10 align=left >Lý do nộp: <%=@bill.reason %></td>
	</tr>
	
	<tr>
	<td colspan = 10 align=left >Số tiền: <%=@bill.payment %></td>
	</tr>
	
	<tr>
	<td colspan = 10 align=left >Viết bằng chữ: </td>
	</tr>
	
	<tr>
	<td colspan = 10 align=left ><strong>Nguồn kinh phí: <%=@bill.ability %></strong></td>
	</tr>
	
	<tr>
	<td colspan = 10 align=left >Ghi chú: </td>
	</tr>
	
	<tr>
	<td colspan = 10 align=right ><em>Ngày...Tháng 12 Năm 2014</em></td>
	</tr>
	
	<tr><td></td></tr>
	
	<tr>
	<td colspan=3 align=center><strong>Chủ nhiệm khoa</strong></td>
	<td colspan=2 align=center><strong>Thủ quỹ</strong></td>
	<td colspan=2 align=center><strong>Người lập phiếu</strong></td>
	<td colspan=3 align=center><strong>Người nộp tiền</strong></td>
	</tr>
	
	<tr>
	<td colspan=3 align=center><em>(Ký, họ tên)</em></td>
	<td colspan=2 align=center><em>(Ký, họ tên)</em></td>
	<td colspan=2 align=center><em>(Ký, họ tên)</em></td>
	<td colspan=3 align=center><em>(Ký, họ tên)</em></td>
	</tr>
	
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	
	<tr>
	<td colspan=3 align=center><%=@bill.dean %></td>
	<td colspan=2 align=center><%=@bill.cashier %></td>
	<td colspan=2 align=center><%=@bill.name %></td>
	<td colspan=3 align=center><%=@bill.payer %></td>
	</tr>
</table>
<table width=400>
  <tr>
	<td><h2><%=link_to "Sửa phiếu thu",edit_bill_path %>      </h2></td>
	<td><h2><%=link_to "Xóa phiếu thu", bill_path(@bill), method: :delete, data: { confirm: "Bạn có chắc muốn xóa phiếu thu này?"}%>   </h2></td>      
  </tr>  
</table>     
 


