﻿<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      PHẦN MỀM KẾ TOÁN
    <% end %>
  </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>



<body>

  <% flash.each do |key, value| %>
    <div class='flash' id='<%= key %>'>
      <%= value %>
    </div>

    <nav>
  <h2> <%=link_to "Đăng ký", new_user_path %>         </h2>
  <h2> <%=link_to "Đăng nhập", signin_path %>         </h2>
</nav>
  <% end %>


<%= yield %>

</body>
</html>

